.AddPromotionLink {

}

.AddPromotionLink__input {
  text-transform: uppercase;
  min-width: 140px;
}

.AddPromotionLink__content p {
  margin-bottom: 8px;
}

.AddPromotionLink__popover .ant-popover-message {
  padding-bottom: 8px;
}