.AlvarMapDesignPanel {
  width: 100%;
}

.AlvarMapDesignPanel h4 {
  font-size: 0.8rem;
  margin-bottom: 6px;
}

.AlvarMapDesignPanel__group:not(:first-of-type) {
  margin-top: 20px;
  width: 100%;
}

.AlvarMapDesignPanel__search {
  width: 100%;
}

.AlvarMapDesignPanel .ant-select-selection__rendered {
  margin-right: 15px;
}

.AlvarMapDesignPanel__recommend {
  padding: 30px;
}

.AlvarMapDesignPanel__recommend > h4 {
  font-weight: 400;
}

.AlvarMapDesignPanel .OrientationSelect {
  margin-top: 20px;
}

.AlvarMapDesignPanel .PosterSizeSelect {
  margin-top: 20px;
}

.AlvarMapDesignPanel .Alert {
  margin-top: 20px;
}

.AlvarMapDesignPanel__info .Alert p {
  max-width: 250px;
  margin-left: 38px;
  color: #777;
}

.AlvarMapDesignPanel__info > .Alert > .anticon {
  font-size: 1.7rem;
  float: left;
  color: #888;
}