.AlvarMap, .AlvarMap__container {
}

.AlvarMap {
  box-shadow: 2px 6px 25px 6px rgba(0, 0, 0, 0.25);
  background: #fcfcfc;
}

.AlvarMap__container {
  width: 100%;
  height: 100%;
  position: relative;
}

.AlvarMap .AlvarMap__empty-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  z-index: 1000;
  pointer-events: none;
}

.AlvarMap .leaflet-container {
  height: 100%;
  width: 100%;
}

.leaflet-control-attribution {
  display: none;
}

.AlvarMap__tooltip {
  height: 20px;
  display: flex;
  align-items: center;
}

.AlvarMap__drag-icon {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  animation-name: move;
  animation-duration: 1s;
  animation-iteration-count: 6;
}

@keyframes move {
    from {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-3px);
    }
    to {
      transform: translateX(0);
    }
}
