.AlvarMap, .AlvarMap__container {
}

.AlvarMap {
  box-shadow: 6px 6px 20px 3px rgba(0, 0, 0, 0.15);
  background: #fcfcfc;
}

.AlvarMap__container {
  width: 100%;
  height: 100%;
  position: relative;
}

.AlvarMap .AlvarMap__empty-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  z-index: 1000;
}

.AlvarMap .leaflet-container, .AlvarMap .mapboxgl-map, .AlvarMap .ant-spin-nested-loading, .AlvarMap .ant-spin-container {
  height: 100%;
  width: 100%;
}

.leaflet-control-attribution, .mapboxgl-ctrl-attrib {
  display: none;
}

.mapboxgl-ctrl-group > button {
  width: 26px;
  height: 26px;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-compass {
  padding: 5px;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-compass > .arrow {
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%0A%09%3Cpolygon%20fill%3D%27%23333333%27%20points%3D%276%2C9%2010%2C1%2014%2C9%27%2F%3E%0A%09%3Cpolygon%20fill%3D%27%23CCCCCC%27%20points%3D%276%2C11%2010%2C19%2014%2C11%20%27%2F%3E%0A%3C%2Fsvg%3E");
}