.CartItem {
  display: flex;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.CartItem__image {
  border: 1px solid #ccc;
  height: 70px;
  min-width: 50px;
  max-width: 100px;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CartItem__image:not(.CartItem__image--landscape) > img {
  height: 100%;
}
.CartItem__image.CartItem__image--landscape {
  height: auto;
  max-height: 50px;
  width: 70px;
}
.CartItem__image.CartItem__image--landscape > img {
  width: 100%;
}

.CartItem__content {
  flex: 1;
  padding-left: 10px;
  position: relative;
  min-height: 70px;
}

.CartItem__price {
  text-align: right;
  position: absolute;
  right: 2px;
  bottom: 5px;
}

.CartItem__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 115px;
}

.CartItem__type {
  font-size: @font-size-small;
  line-height: 1.2;
  color: #999;
}

.CartItem__quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 5px;
  right: 0;
  width: 70px;
}

.CartItem__quantity .CartItem__quantity-number {
  font-weight: 700;
}

.CartItem__actions {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 3px;
  left: 10px;
}

.CartItem__actions li {
  margin-right: 6px;
}

.CartItem__actions .anticon {
  font-size: 1.3rem;
  color: @error-color;
}
