.CartItem {
  display: flex;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.CartItem__image {
  height: 70px;
  min-width: 50px;
  background: #f4f4f4;
  display: block;
  border: 1px solid #ccc;
}

.CartItem__image--landscape {
  height: 50px;
  min-width: 70px;
}

.CartItem__content {
  flex: 1;
  padding-left: 10px;
  position: relative;
  min-height: 70px;
}

.CartItem__price {
  text-align: right;
  font-size: @font-size-x-small;
  position: absolute;
  right: 2px;
  bottom: 5px;
}

.CartItem__title {
  font-size: @font-size-small;
}

.CartItem__type {
  font-size: @font-size-xx-small;
  line-height: 1.2;
  color: #999;
}

.CartItem__quantity {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 5px;
  right: 2px;
}

.CartItem__quantity > * {
  margin-left: 8px;
  line-height: 15px;
}

.CartItem__quantity .anticon {
  border: 1px solid @primary-color;
  border-radius: 50%;
  font-size: 9px;
  font-weight: 700;
  transition: color 0.15s ease, background 0.15s ease;
  background: none;
  color: @primary-color;
  cursor: pointer;
  width: 15px;
  height: 15px;
  line-height: 13px;
  display: block;
}

.CartItem__quantity .anticon:hover {
  background: @primary-color;
  color: white;
}

.CartItem__quantity .CartItem__quantity-action--disabled.anticon {
  border: 1px solid #ccc;
  cursor: initial;
  color: #ccc;
}
.CartItem__quantity .CartItem__quantity-action--disabled.anticon:hover {
  background: none;
  color: #ccc;
}

.CartItem__quantity .CartItem__quantity-number {
  font-weight: 700;
  font-size: @font-size-x-small;
}

.CartItem__actions {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 3px;
  left: 10px;
}

.CartItem__actions li {
  margin-right: 6px;
}

.CartItem__actions .anticon {
  font-size: 1rem;
  color: @primary-color;
}
