.CheckoutForm__section {
  margin: 10px 0 10px 0;
}
.CheckoutForm__section:first-of-type {
  margin-top: 0;
}

.CheckoutForm__section::after {
  content: "";
  display: block;
  margin: 50px 0 15px 0;
  border-bottom: 1px solid #eee;
}

.CheckoutForm__section--last::after {
  display: none;
}

.CheckoutForm h1 {
  font-weight: 400;
  text-transform: uppercase;
  color: @primary-color;
  margin-bottom: 30px;
}

.CheckoutForm__header > .anticon {
  margin-right: 5px;
}

.CheckoutForm__form-header {
  font-size: @font-size-large;
  margin-bottom: 34px;
  text-transform: uppercase;
}

.CheckoutForm__form-sub-header {
  color: #666;
  font-size: @font-size-medium;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.CheckoutForm .CheckoutForm__terms {
  display: block;
  margin: 30px 0 12px 2px;
}

.CheckoutForm__terms a:hover {
  text-decoration: underline;
}

.CheckoutForm .CheckoutForm__sec-info {
  padding-left: 2px;
  font-size: @font-size-small;
}

.CheckoutForm .CheckoutForm__info {
  margin: 15px 0 0 0;
  background: #f9f9f9;
  border-radius: 5px;
  padding: 15px 20px;
  color: #888;
  display: flex;
  flex-direction: row;
}

.CheckoutForm .CheckoutForm__info > .anticon {
  margin-top: 3px;
  font-size: 1.8rem;
}

.CheckoutForm .CheckoutForm__info > p {
  margin-left: 10px;
}

.CheckoutForm .CheckoutForm__badge-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px 0;
}

.CheckoutForm .CheckoutForm__badge-list li:last-of-type .CheckoutFormBadge {
  margin-right: 0;
}

.CheckoutForm .CheckoutForm__badge {
  margin-right: 60px;
  text-align: center;
  text-transform: uppercase;
  width: 80px;
}

.CheckoutForm .CheckoutForm__badge > h4 {
  margin-top: 5px;
  font-size: @font-size-x-small;
  color: #999;
  text-align: center;
}

.CheckoutForm .CheckoutForm__badge > .anticon {
  font-size: 3rem;
  color: #89CCBD;
  font-weight: 300;
}


.CheckoutForm .CheckoutForm__complete-button {
  padding: 10px 20px;
  height: 41px;
  width: 100%;
}

.CheckoutForm .CreditCardForm {
  margin-bottom: 25px;
}

.CheckoutForm .CheckoutForm__new-address {
  margin-top: 0;
  margin-bottom: 22px
}

.CheckoutForm .CheckoutForm__new-address .ant-radio-wrapper {
  display: block;
  margin-top: 10px;
}

.CheckoutForm .CheckoutForm__new-address .ant-radio-wrapper:last-of-type {
  margin-top: 0;
}

.CheckoutForm .CheckoutForm__new-address-text {
  display: block;
  white-space: normal;
  margin-left: 20px;
  margin-top: 8px;
  color: #aaa;
  font-style: italic;
}

.CheckoutForm .CheckoutForm__preview {
  p {
    margin-bottom: 5px;
  }
}

@media @screen-gt-sm-media {
  .CheckoutForm .CheckoutForm__complete-button,
  .CheckoutForm .CheckoutForm__badge-list,
  .CheckoutForm .CheckoutForm__info,
  .CheckoutForm__section::after,
  .CheckoutForm .CheckoutForm__preview {
    width: 87.5%;
  }

  .CheckoutForm .CheckoutForm__preview-carousel {
    .carousel {
      width: 90%;
    }
  }

  .CheckoutForm__preview {
    max-width: 500px;
  }
}

@media @screen-lt-sm-media {
  .CheckoutForm .CheckoutForm__badge-list {
    justify-content: flex-start;
  }

  .CheckoutForm .CheckoutForm__badge {
    margin-right: 30px;
  }

  .CheckoutForm .CheckoutForm__badge > .anticon {
    font-size: 2.6rem;
  }

  .CheckoutForm .CheckoutForm__badge > h4 {
    font-size: 0.6rem;
  }
}

@media @screen-lt-xs-media {
  .CheckoutForm .CheckoutForm__badge-list {
    justify-content: space-between;
  }

  .CheckoutForm .CheckoutForm__badge {
    margin-right: 0;
  }

  .CheckoutForm .CheckoutForm__badge > .anticon {
    font-size: 2.4rem;
  }

  .CheckoutForm .CheckoutForm__badge > h4 {
    font-size: 0.5rem;
  }
}
