.CheckoutSummary__header {
  font-size: @font-size-medium;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.CheckoutSummary__price-summary {
  display: flex;
  justify-content: flex-end;
}

.CheckoutSummary__price-table {
  margin-top: 0px;
  font-size: 0.9rem;
  text-align: right;
}

.CheckoutSummary__cart li:not(:first-of-type) .CartItem {
  margin-top: 15px;
}

.CheckoutSummary__price-table tr {
  line-height: 28px;
}

.CheckoutSummary__price-table td:last-of-type {
  padding-left: 25px;
}

.CheckoutSummary__total-row {
  text-transform: uppercase;
  font-weight: 700;
}

.CheckoutSummary__add {
  margin: 13px 0 0 -5px;
  cursor: pointer;
}

.CheckoutSummary__add .IconButton {
  font-size: @font-size-xx-small;
  padding: 10px;
  padding-left: 5px;
}

.CheckoutSummary__add-promotion {

}

.CheckoutSummary__add-promotion-input {
  width: 110px;
  text-transform: uppercase;
}