.EditorPage {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  /* This is risky, but was tested in various browsers */
  overflow: hidden;
}

.EditorPage > * {
  height: 100%;
}

.EditorPage .LightWall {
  flex: 2 0 0%;
}

@media @screen-lt-sm-media {
  .EditorPage {
    flex-direction: column-reverse;
  }

  .EditorPage .SidePanel {
    height: (@sidepanel-upper-narrow-height + @sidepanel-lower-narrow-height);
  }
}

@media @screen-gt-sm-media {
  .EditorPage .SidePanel {
    flex: 1 1 0%;
  }
}

@media screen and (max-width: 1040px) {
  .EditorPage .SidePanel {
    min-width: 380px;
  }
}