.EditorPage {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  width: 100%;
  /* This is risky, but was tested in various browsers */
  overflow: hidden;
}

.EditorPage * {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.EditorPage > * {
  height: 100%;
}

.EditorPage .LightWall {
  flex: 2 0 0%;
  flex-shrink: 0;
}

.EditorPage .SidePanel {
  height: (@sidepanel-upper-narrow-height + @sidepanel-lower-narrow-height);
}

@media @screen-gt-md-media {
  .EditorPage {
    flex-direction: row;
  }

  .EditorPage .SidePanel {
    flex: 1 1 0%;
    min-width: 380px;
    height: auto;
  }
}
