.Footer {
  margin-top: 80px;
  padding: 30px 0;
  border-top: 1px solid #eee;
}

.Footer .ant-row > div:last-of-type {
  text-align: right;
}

@media @screen-lt-sm-media {
  .Footer .ant-row > div:last-of-type {
    margin-top: 20px;
    text-align: left;
  }
}