.GeoSearch {

}

.GeoSearch__container {
  position: relative;
}

.GeoSearch__container .anticon {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 0.9rem;
  color: #999;
}

.GeoSearch__container .Select-clear-zone {
  top: 1px;
}

.GeoSearch__container .Select-arrow-zone {
  visibility: hidden;
}

.GeoSearch__container .Select-loading-zone {
  right: 2px;
  top: -1px;
}

.GeoSearch__container .Select-loading {
  width: 14px;
  height: 14px;
}