.GiftCardCustomizeForm-radio-explanation {
  display: block;
  white-space: normal;
  margin-left: 25px;
  margin-top: 6px;
  color: #aaa;
}

.GiftCardCustomizeForm .ant-radio-wrapper:not(:first-child) {
  margin-top: 13px;
}

.GiftCardCustomizeForm .ant-form-item .ant-form-item-label {
  margin-bottom: 10px;
}

@media @screen-gt-lg-media {
  .GiftCardCustomizeForm .ant-form-item .ant-form-item-label {
    margin-bottom: 0;
  }
}
