.MiniCartItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 85px;
  height: 100%;
  cursor: pointer;

  .MiniCartItem__poster {
    transition: border 0.3s ease;
  }

  .MiniCartItem__title {
    transition: color 0.3s ease;
  }

  &:hover {
    .MiniCartItem__poster {
      border: 1px solid @primary-color;
    }

    .MiniCartItem__title {
      color: @primary-color;
    }

    .MiniCartItem__action {
      pointer-events: auto;
      opacity: 1;
    }
  }
}

.MiniCartItem__style-icon {
  width: 34px;
  height: 34px;
  opacity: 0.6;
}

.MiniCartItem--selected {
  .MiniCartItem__poster {
    background: white;
    border: 1px solid @primary-color;
  }

  .MiniCartItem__title {
    color: @primary-color;
  }
}

.MiniCartItem__poster {
  width: 35px;
  height: 50px;
  background: white;
  position: relative;
  border: 1px solid #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3px;
}

.MiniCartItem__poster--landscape {
  width: 50px;
  height: 35px;
}

.MiniCartItem__map-color {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.MiniCartItem__title {
  font-size: @font-size-xx-small;
  max-width: 100%;
  color: #999;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MiniCartItem__quantity-number {
  position: absolute;
  font-size: 0.65rem;
  font-weight: bold;
  text-align: center;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  padding: 0 2px;
  border-radius: 5px;
}

.MiniCartItem__action {
  opacity: 0;
  display: flex;
  pointer-events: none;
  transition: opacity 0.3s ease;
  position: absolute;
}

.MiniCartItem__action .anticon {
  font-size: 1rem;
  color: @primary-color;
}

.MiniCartItem__decrease-quantity {
  top: 70%;
  left: -15px;
  transform: translate(-50%, -50%);
  width: 17px;
  height: 17px;
}

.MiniCartItem__increase-quantity {
  top: 70%;
  right: -15px;
  transform: translate(50%, -50%);
  width: 17px;
  height: 17px;
}

.MiniCartItem__remove {
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  width: 16px;
  height: 16px;
  background: white;
  justify-content: center;
  align-items: center;

  .IconButton {
    transform: rotate(45deg);
  }
}
