.PosterLabelInputs__text {
  margin-top: 20px;

  .ant-form-item-label {
    position: relative;
    top: 21px;
  }

  .ant-checkbox-wrapper {
    margin-bottom: 8px;
  }
}

@media @screen-gt-sm-media {
  /* This should be properly fixed by making the poster label inputs with flexbox */
  .PosterLabelInputs .ant-switch {
    position: relative;
    top: 10px;
  }
}
