.PosterSizeSelect .ant-radio-wrapper-checked {
  font-weight: 700;
}

.PosterSizeSelect__price {
  display: block;
  margin-left: 22px;
  margin-top: 2px;
}

.PosterSizeSelect__type {
  margin-bottom: 12px;
}

.PosterSizeSelect select  {
  height: 34px;
}

.PosterSizeSelect .pure-css-select-style {
  width: 100%;
  max-width: 360px;
  height: 36px;
  font-size: 13px;
}

@media @screen-gt-sm-media {
  .PosterSizeSelect__type {
    margin-bottom: 20px;
  }
}
