.PosterLabelInputs .ant-switch {
  position: relative;
  margin: 0;
}

.PosterLabelInputs__text {
  margin-top: 20px;

  .ant-form-item-label {
    position: relative;
    top: 21px;
  }

  .ant-checkbox-wrapper {
    margin-bottom: 8px;
  }
}