.PosterPreview {
  background: #eee;
  height: 100%;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  flex-direction: column;
}

.PosterPreview i {
  display: block;
  margin-bottom: 3px;
  font-size: 2rem;
}

.PosterPreview .PosterPreview__fail-text {
  font-size: @font-size-small;
}

.PosterPreview, .PosterPreview img {
  width: 100%;
}
