.PosterSizeSelect .ant-radio-wrapper-checked {
  font-weight: 700;
}

.PosterSizeSelect .ant-radio-button-wrapper {
  width: 115px;
  text-align: center;
}
.PosterSizeSelect .ant-radio-button-wrapper-checked {
  font-weight: 700;
}

.PosterSizeSelect__price {
  display: block;
  margin-left: 22px;
  margin-top: 0px;
}

.PosterSizeSelect__type {
  margin-bottom: 12px;
}

.PosterSizeSelect select  {
  height: 34px;
}

.PosterSizeSelect .pure-css-select-style {
  width: 100%;
  max-width: 360px;
  height: 36px;
}

.PosterSizeSelect .pure-css-select-style, .PosterSizeSelect .ant-radio-wrapper {
  font-size: @font-size-medium;
}

.PosterSizeSelect .ant-radio-wrapper {
  margin-right: 14px;
}

@media @screen-gt-sm-media {
  .PosterSizeSelect__type {
    margin-bottom: 16px;
  }
}
