.ThankYouPage__content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 0;
  position: relative;
}

.ThankYouPage__logo {
  position: absolute;
  top: 50px;
  right: 30px;
}

.ThankYouPage__logo img {
  height: 24px;
}

.ThankYouPage__content h1 {
  margin-bottom: 15px;
}

.ThankYouPage__content p {
  margin-bottom: 10px;
}

.FinalOrderSummary {
  margin-top: 40px;
  max-width: 400px;
}
