#!/bin/bash

# Guide:
#
# 1. Copy this file to .env
#
#    cp .env-sample .env
#
# 2. Fill the blanks

export NODE_ENV=development
export DATABASE_URL=postgres://postgres:postgres@127.0.0.1:54321/postgres
export STRIPE_SECRET_KEY=

echo "Environment variables set!"
