@screen-gt-xs-media:    ~"only screen and (min-width: @{screen-xs})";
@screen-gt-sm-media:    ~"only screen and (min-width: @{screen-sm})";
@screen-gt-md-media:    ~"only screen and (min-width: @{screen-md})";
@screen-gt-lg-media:    ~"only screen and (min-width: @{screen-lg})";
@screen-gt-xl-media:    ~"only screen and (min-width: @{screen-xl})";

@sidepanel-upper-narrow-height: 55px;
@sidepanel-lower-narrow-height: 55px;
@sidepanel-lower-wide-height: 80px;
