.AlvarMapDesignPanel {
  width: 100%;
  padding-top: 10px;
}

.AlvarMapDesignPanel h4 {
  margin-bottom: 6px;
}

.AlvarMapDesignPanel__group {
  margin-top: 20px;
  width: 100%;
}

.AlvarMapDesignPanel__search {
  width: 100%;
}

.AlvarMapDesignPanel .ant-select-selection__rendered {
  margin-right: 15px;
}


.AlvarMapDesignPanel .ant-collapse {
  background-color: white;
  border-radius: 0;
  border: 0;
}

.AlvarMapDesignPanel .ant-collapse-header {
  font-size: 1rem;
}