.AlvarMapDesignPanel {
  width: 100%;
  padding-top: 10px;
}

.AlvarMapDesignPanel__search {
  width: 100%;
  margin-bottom: 20px;
}

.AlvarMapDesignPanel__style-container {
  margin-top: 20px;
}

.AlvarMapDesignPanel__style-container .ant-select-selection__rendered {
  margin-right: 15px;
}

.AlvarMapDesignPanel h4 {
  margin-bottom: 10px;
}

