.AlvarMapDesignPanel {
  width: 100%;
}

.AlvarMapDesignPanel h4 {
  margin-bottom: 6px;
}

.AlvarMapDesignPanel__group:not(:first-of-type) {
  margin-top: 20px;
  width: 100%;
}

.AlvarMapDesignPanel__search {
  width: 100%;
}

.AlvarMapDesignPanel .ant-select-selection__rendered {
  margin-right: 15px;
}

.AlvarMapDesignPanel__recommend {
  padding: 30px;
}

.AlvarMapDesignPanel__recommend > h4 {
  font-weight: 400;
}

.AlvarMapDesignPanel .OrientationSelect {
  margin-top: 20px;
}