.CartItemSummary {
  display: flex;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.CartItemSummary__image {
  height: 70px;
  width: 50px;
  padding: 5px;
  display: block;
}

.CartItemSummary__content {
  flex: 1;
  padding-left: 15px;
  position: relative;
}

.CartItemSummary__price {
  text-align: right;
  font-size: 0.8rem;
  position: absolute;
  right: 2px;
  bottom: 5px;
}

.CartItemSummary__title {
}

.CartItemSummary__type {
  color: #999;
}