.CheckoutPanel {
  padding: 20px 20px 40px 40px;
}

.CheckoutPanel__section {
  margin: 10px 0 10px 0;
}

.CheckoutPanel__section::after {
  content: "";
  display: block;
  width: 88%;
  margin: 50px 0 15px 0;
  border-bottom: 1px solid #eee;
}

.CheckoutPanel__section--last::after {
  display: none;
}

.CheckoutPanel h1 {
  font-weight: 400;
  text-transform: uppercase;
  color: #108ee9;
  margin-bottom: 30px;
}

.CheckoutPanel__header > .anticon {
  margin-right: 5px;
}

.CheckoutPanel .CheckoutPanel__new-address {
  margin-top: 20px;
  margin-bottom: -10px;
}

.CheckoutPanel__form-header {
  margin-bottom: 24px;
  text-transform: uppercase;
}

.CheckoutPanel .CheckoutPanel__terms {
  margin-top: 40px;
  margin-bottom: 0;
}

.CheckoutPanel__terms a:hover {
  text-decoration: underline;
}

.CheckoutPanel .CheckoutPanel__complete-button {
  padding: 10px 20px;
}
