.OrientationSelect {

}

.OrientationItem {
  display: inline-block;
  width: 80px;
  text-align: center;
  cursor: pointer;
}

.OrientationItem__image-container {
  position: relative;
  height: 50px;
}

.OrientationItem__image-container .LandscapeIcon + .OrientationItem__overlay > .TickIcon {
  transform: translateY(-22%);
}

.OrientationItem .PortraitIcon {
  height: 50px;
}

.OrientationItem .LandscapeIcon {
  width: 50px;
  bottom: 0;
}

.OrientationItem__image-container > * {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.OrientationItem--selected .OrientationItem__image-container > svg {
  background: #fff;
}

.OrientationItem__overlay {
  display: none;
  /*background: rgba(0, 0, 0, 0.4);*/
  height: 100%;
  width: 100%;
  text-align: center;
}
.OrientationItem__overlay .TickIcon {
  position: relative;
  width: 22px;
  height: 22px;
  top: 50%;
  transform: translateY(-50%);
}
.OrientationItem--selected .OrientationItem__overlay {
  display: block;
}

.OrientationItem__label {
  margin-top: 5px;
  display: none;
  text-align: center;
  font-weight: 700;
  color: #999;
}

.OrientationItem--selected .OrientationItem__label {
  color: #666;
}