.ShippingMethodForm .ant-radio-wrapper {
  font-weight: 700;
}

.ShippingMethodForm__radio-info {
  color: #999;
  margin-left: 22px;
}

.ShippingMethodForm__right-col {
  text-align: right;
}

.ShippingMethodForm__item-price {
  font-weight: 700;
}