.input--short {
  width: 60%;
}

.ant-input-wrapper + .ant-input-wrapper > input {
  margin-top: 4px;
}

.ant-form-item {
  margin-bottom: 12px;
}

.ant-form-item-control {
  line-height: initial;
}

.ant-form-explain, .ant-form-extra {
  position: relative;
  top: 3px;
  left: 2px;
}