html, body {
  font-family: "Titillium Web", Helvetica, sans-serif;
}

html, body, .root {
  width: 100%;
  height: 100%;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.grabbable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.popin-enter {
  opacity: 0.01;
}

.popin-enter.popin-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in;
}

.popin-leave {
  opacity: 1;
}

.popin-leave.popin-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
